# maven ignore
target/
*.war
*.zip
*.tar
*.
*.tar.gz

# 

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.doc
*.log
*.requestCache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
re
Thumbs.db
/.c
/.classpath
/.project
.idea/